@import './sass/globalVariables.scss';

body {
  margin: 0;
  font-family: $all-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  background-color: $color-bg;
  color: $color-font;
  text-transform: capitalize;
  a {
    text-decoration: none;
    color: $color-font;
  }

  li {
    list-style: none;
  }

  input,
  button,
  textarea {
    &:focus {
      outline: none;
    }
  }

  button {
    &.blocked {
      width: 100%;
    }
  }

  .sectionContainer {
    padding: $pm-8 $pm-10;
    @media (max-width: $medium) {
      padding: $pm-5 $pm-8;
    }

    @media (max-width: $small) {
      padding: $pm-2 $pm-2;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
    margin: 0;
  }

  //error
  .accountError {
    font-size: 18px;
    color: red;
  }

  //table expense data
  .ex-price {
    color: red;
  }
}

//pagination

.listpagination {
  margin-top: 20px;
  ul {
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    .pagination-item {
      display: none;

      &.block {
        display: block;
      }
    }

    .paginate-div {
      background-color: $color-font;
      color: $color-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 16px;
      cursor: pointer;
      &.active-pg {
        background-color: $color-border;
        cursor: no-drop;
        opacity: 0.5;
      }
    }

    .prevBtn,
    .nextBtn {
      cursor: pointer;

      &.de-active {
        cursor: no-drop;
        i {
          color: $color-border;
          opacity: 0.5;
        }
      }
      i {
        color: $color-font;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
